// variable used for the background color that was used in the nav
$nav-black-color:#141514;
// variable used to hold the main background color that is used on all of the pages
$main-black-background:#232b2b;
// variable used to hold the color that is used commonly for the second layer of whatever content is on the page
$greyish-background:#414a4c;
// variable that holds the color that is used on almost all of the text for the pages
$text-color:#cacaca;