* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: #232b2b;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: auto;
  width: auto;
  margin-bottom: 7%;
}

main P {
  color: #cacaca;
}

main h2 {
  margin-bottom: -10px;
  color: #cacaca;
}

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3.5%;
  width: 80%;
  margin: 50px, auto;
  zoom: 1.5;
  height: auto;
}

#container p {
  margin-bottom: 10px;
}

#contact-box {
  background: #414a4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact-left {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 40px 60px;
  background-color: #141514;
}

#contact-left h3 {
  color: #cacaca;
  font-weight: 600;
  margin-bottom: 30px;
}

#contact-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  padding: 40px;
  background: #414a4c;
  color: #cacaca;
}

#contact-right h1 {
  color: #fff;
  font-weight: 600;
  margin-bottom: 30px;
}

#contact-right p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 20px;
  color: #cacaca;
  letter-spacing: 0.5px;
  word-break: break-all;
  font-size: large;
}

#input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

#input-row #input-group {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  background-color: #414a4c;
  padding-top: 5px;
  padding-left: 2px;
  color: #fff;
  font-size: x-small;
}

label {
  margin-bottom: 4px;
  display: block;
  color: #cacaca;
}

::-webkit-input-placeholder {
  color: #fff;
  font-size: x-small;
}

:-ms-input-placeholder {
  color: #fff;
  font-size: x-small;
}

::-ms-input-placeholder {
  color: #fff;
  font-size: x-small;
}

::placeholder {
  color: #fff;
  font-size: x-small;
}

textarea {
  background-color: #414a4c;
  color: #fff;
  padding-left: 5px;
  padding-top: 2px;
  outline: none;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: x-small;
}

button {
  background: #414a4c;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 10px;
}

#message-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: -2%;
  text-align: center;
}

#top-text h2 {
  margin-bottom: 10px;
}

@media screen and (max-width: 1040px) {
  #contact-box {
    background: #414a4c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact-left {
    padding-left: 5%;
    padding-right: 5%;
  }
  td {
    font-size: 2vw;
  }
}
