body {
  background-color: #232b2b;
}
main {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
  margin-bottom: 7%;
  P {
    color: rgb(202, 202, 202);
  }
  h2 {
    margin-bottom: -10px;
    color: rgb(202, 202, 202);
  }
}

#container {
  display: flex;
  flex-direction: column;
  margin-top: 3.5%; 
  width: 80%;
  margin: 50px, auto;
  zoom: 1.5; 
  height: auto;
  p {
    margin-bottom: 10px;
  }
}

#contact-box {
  background: #414a4c;
  display: flex;
}

#contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
  background-color: rgb(20, 21, 20);

  h3 {
    color: rgb(202, 202, 202);
    font-weight: 600;
    margin-bottom: 30px;
  }
}

#contact-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 60%;
  padding: 40px;
  background: #414a4c;
  color: #cacaca;
  h1 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

#input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  #input-group {
    flex-basis: 45%;
  }
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  background-color: #414a4c;
  padding-top: 5px;
  padding-left: 2px;
  color: #fff;
  font-size: x-small;
}

label {
  margin-bottom: 4px;
  display: block;
  color: rgb(202, 202, 202);
}

::placeholder {
  color: #fff;
  font-size: x-small;
}

textarea {
  background-color: #414a4c;
  color: #fff;
  padding-left: 5px;
  padding-top: 2px;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: x-small;
}

button {
  background: #414a4c;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 10px;
}

tr {
  td:first-child {
    padding-right: 20px;
  }

  td {
    padding-top: 20px;
    color: #cacaca;
  }
}

#message-center {
  display: flex;
  flex-direction: column;
}

#top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -2%;
  text-align: center;
  h2 {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  
}
