// used to import the variables so I can use those values on this style sheet
@import "../styling/variables";

// used to make everything have the same font
*{
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: $main-black-background;
}
// used to center and change the color of the text at the top of the page, uses display flex to center
main {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
  margin-bottom: 7%;
  P {
    color: $text-color;
  }
  h2 {
    margin-bottom: -10px;
    color: $text-color;
  }
}
// container that is used to hold all of the content on the page including the text above the contact box, I also use the zoom function to scale it on the screen.
#container {
  display: flex;
  flex-direction: column;
  margin-top: 3.5%;
  width: 80%;
  margin: 50px, auto;
  zoom: 1.5;
  height: auto;
  p {
    margin-bottom: 10px;
  }
}

#contact-box {
  background: $greyish-background;
  display: flex;
}

// this container is located on the left side of the entire contact box and uses the flex function to always take up a minimum of 50% of the total area
#contact-left {
  flex: 50%;
  padding: 40px 60px;
  background-color: $nav-black-color;

  h3 {
    color: $text-color;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

// this container is the right container of the contact box and i use lots of fuctions to center it on the page, take up a minimum of 50% of the page and styling of the text, background etc.
#contact-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 50%;
  padding: 40px;
  background: $greyish-background;
  color: $text-color;
  h1 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 30px;
  }
    p {
    align-self: flex-start;
    padding-top: 20px;
    color: $text-color;
    letter-spacing: 0.5px;
    word-break: break-all;
    font-size: large;
  }
}

// styling of the a specific row in the left container so that all of the input boxed are spaced properly and that they take up a minimum of 45% of the page
#input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

  #input-group {
    flex-basis: 45%;
  }
}

// styling the input boxes themselves so that they are styled a specific way, i also make sure to have enough room insdie of the input box using padding.
input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
  background-color: $greyish-background;
  padding-top: 5px;
  padding-left: 2px;
  color: #fff;
  font-size: x-small;
}

label {
  margin-bottom: 4px;
  display: block;
  color: $text-color;
}

// changing the color of the placeholder inside of the input boxes so that it matches the color of the text when people type
::placeholder {
  color: #fff;
  font-size: x-small;
}

textarea {
  background-color: $greyish-background;
  color: #fff;
  padding-left: 5px;
  padding-top: 2px;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: x-small;
}

//styling the button so it has specific looks styling, like making the border radius 30px which makes the button a circle instead of a square
button {
  background: $greyish-background;
  width: 100px;
  border: none;
  outline: none;
  color: #fff;
  height: 35px;
  border-radius: 30px;
  margin-top: 10px;
}


//making the message center container stack on top of eachother using flex direction column 
#message-center {
  display: flex;
  flex-direction: column;
}

// styling for the text at the top of the screen so that it is centered and so that the heading stacks ontop of the paragraph text. 
#top-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -2%;
  text-align: center;
  h2 {
    margin-bottom: 10px;
  }

  // media query so that when the screen reaches a specific size the left contact box stacks ontop of the right contact box so it is easier to see on a phone screen.
}
@media screen and (max-width: 1040px) {
  #contact-box {
    background: $greyish-background;
    display: flex;
    flex-direction: column;
  }
  #contact-left {
    padding-left: 5%;
    padding-right: 5%;
  }
}
