body {
  background-color: #232b2b;
}
#main-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/home-background-image.PNG);
  height: 680px;
  width: 99%;
  margin-top: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 680px;
  margin-left: 10px;
}
#background-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

#content-container {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  height: auto;
  background-color: #414a4c;
  padding-bottom: 15px;
}
#service-summary {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;

  p {
    color: #cacaca;
    font-size: x-large;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
  }
  h1{
      color:#cacaca
  }
}
#service-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: auto;
  margin-bottom: 10px;
  p {
    color: #cacaca;
    font-size: larger;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
  }
  h3{
      color: #cacaca;
      margin-left: 2%;
  }
}
