//importing all of the variables so that I can use them as values's on specific elements 
@import "../styling/variables";

// used to make everything have the same font
* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: $main-black-background;
}

//styling the main div at the top of the page, so that it is center, has specific dimensions so there is white space surrounding it, and a minimum height that it cant get smaller then
// I also set the background to cover and no repeat so that it stays the same size of the image it self and doesnt duplicate when it gets bigger then the dimensions specified
#main-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/index.png);
  height: 680px;
  width: 99%;
  margin-top: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 680px;
  margin-left: 10px;
}

//styling the text ontop of the photo above so that it is centered within the image and the heading is stacked ontop of one another. I also add a transparent background to increase
// readability of the text on the specific background
#background-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 42%;
  background-color: rgba(0,0,0,0.3);
  padding: 5px;
}

//container used to hold all of the content on the page, I set it to have a width of 96% so that there is still white space surrounding the container.
#content-container {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  height: auto;
  background-color: $greyish-background;
  padding-bottom: 15px;
}

//styling the top portion of information so that it looks diffrent then the text below becuase it is the main summary, I also center that text compared to the text below it which I dont
#service-summary {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: auto;
  p {
    color: $text-color;
    font-size: x-large;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    line-height: 140%;
  }
  h1 {
    color: $text-color;
  }
}

//styling the majority of content below the main summary so that is starts along the left side of the screen, and so that the containers holding the text stack on top of eachother
// so there not all beside eachother and overlapping on the next line, 
#service-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  width: auto;
  margin-bottom: 10px;
  p {
    color: $text-color;
    font-size: larger;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    line-height: 140%;
  }
  h3 {
    color: $text-color;
    margin-left: 2%;
  }
}
