body {
  background-color: #232b2b;
}

#main-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../images/photo-2.PNG);
  height: 680px;
  width: 99vw;
  margin-left: -10px;
  margin-top: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 680px;
  margin-left: 7px;
}

