//importing all of the variables so that I can use them as values's on specific elements 
@import "../styling/variables";

// used to make everything have the same font and have margin and padding of 0px
* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background-color: $main-black-background;
}

//styling the main div at the top of the page, so that it is center, has specific dimensions so there is white space surrounding it, and a minimum height that it cant get smaller then
// I also set the background to cover and no repeat so that it stays the same size of the image it self and doesnt duplicate when it gets bigger then the dimensions specified
#main-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/testimonials.png);
  height: 680px;
  width: 99%;
  margin-top: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 680px;
  margin-left: 10px;
}

//styling the text ontop of the photo above so that it is centered within the image and the heading is stacked ontop of one another. I also add a transparent background to increase
// readability of the text on the specific background
#background-text {
  flex-direction: column;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  width: 65%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
}

//this is used to center all of the content within the container and also have the content stack ontop of eachother. I also zoom  in to make the contetn bigger and more visable
#content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 96%;
  height: auto;
  padding-bottom: 15px;
  zoom: 1.4;

  //this styling is used to put the div container beside the images by making the flex direction row
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  //this styling is used set the dimmensions of the speech buuble and to transform 
  .speech-bubble {
    max-width: 700px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    position: relative;
    transform: translateY(50%);
    background-color: $greyish-background;
    color: $text-color;
    font-size: 2.2vmin;
  }
//styling used to have the triangle on the right hand side of the box making a speech bubble 
  .sb1:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid $greyish-background;
    border-right: 10px solid transparent;
    border-top: 10px solid $greyish-background;
    border-bottom: 10px solid transparent;
    right: -19px;
    top: 6px;
  }
//styling used to have the triangle on the left hand side of the box making a speech bubble 
  .sb2:before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid $greyish-background;
    border-top: 10px solid $greyish-background;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
  }
}
